/* tell the SVG path to be a thin blue line without any area fill */
path {
	stroke-width: 2;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
 	stroke-width: 1;
	stroke: lightgrey;
	fill: none;
}

.axis-label {
	font-size: 12px;
}

/* legend */
#legend {
	fill: #fff;
	stroke-width: 0;
}

.legend-item { }

.legend-text {
	stroke-width: 0;
	fill: #000;
	font-size: 0.85em;
}
